@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Menu
4. Header
5. Hero
6. About
7. Stats
8. Team
9. Why Choose Us
10. CTA
11. Newsletter
12. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*********************************
2. Body and some general stuff
*********************************/
:root
{
	--font1: 'Outfit', sans-serif;
	--font2: "Work Sans", sans-serif;
	--white: #ffffff;
	--white50: rgba(255,255,255,0.5);
	--color-text-dark: #1f1f1f;
	--color-text: #5b6061;
	--color-text-light: rgba(255,255,255,0.8);
	--color-background-light: #f5f5f5;
	--color-background-gray: #a8b9bd;
	--color-red: #ff2c55;
	--color-gray: #a8b9bd;
}
*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-moz-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-o-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: var(--font2);
	font-size: 16px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
	padding-left: 0;
}
p
{
	font-family: var(--font2);
	font-size: 18px;
	line-height: 1.44;
	font-weight: 400;
	color: var(--color-text);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	margin-bottom: 0;
	letter-spacing: -0.024em;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
}
p::selection
{
	
}
h1
{
	font-size: 64px;
	font-weight: 500;
	letter-spacing: 0.05em;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    opacity: 1;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;   /* WebKit (Chrome, Safari) */
	-moz-osx-font-smoothing: grayscale;   /* Firefox on macOS */
	text-rendering: optimizeLegibility;   /* enables kerning/ligatures */
}
h2{font-size: 39px;}
h3{font-size: 21px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: var(--font1);
	font-weight: 500;
	color: var(--color-text-dark);
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	margin-bottom: 0;
	line-height: 1.15;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel .owl-item
{
	height: 100%;
}
.slide
{
	height: 100%;
}
.primary-button
{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	border-radius: 28px;
	background-color: var(--color-red);
	overflow: hidden;
	box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
	cursor: pointer;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}
.primary-button a
{
	display: block;
}
.primary-button:hover a
{
	text-shadow: 0 0 1px rgba(255,255,255,0.3), 0 0 2px rgba(255,255,255,0.3), 0 0 2px rgba(255,255,255,0.3),	0 0 2px rgba(255,255,255,0.3);
}
.primary-button.fadeInUp
{
	-webkit-animation-delay: 0ms;
	animation-delay: 0ms;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
}
.button-text
{
	font-family: var(--font1);
	padding-left: 31px;
	padding-right: 85px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: var(--white);
	line-height: 56px;
	user-select: none;
	z-index: 2;
}
.button-arrow
{
	display: flex;
	position: absolute;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	top: 5px;
	right: 5px;
	width: 46px;
	height: 46px;
	background-color: var(--white);
	overflow: hidden;
	border-radius: 50%;
	text-align: center;
	gap: -3px;
	z-index: 2;
}
.button-arrow i:first-child
{
	opacity: 0.4;
}
.button-arrow i:last-child
{
	margin-left: -2px;
}
.primary-button:hover
{
	background-color: #e5274d;
	box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
}
.primary-button:hover .button-arrow
{
	transform: scale(0.9);
}
.button-arrow i
{
	display: block;
	position: relative;
	left: 0;
	line-height: 48px;
	font-family: 'Font Awesome 6 Pro';
	content: '\f061';
	font-weight: 600;
	font-size: 16px;
	color: var(--color-red);
	-webkit-transition: left 200ms ease-out;
	-moz-transition: left 200ms ease-out;
	-ms-transition: left 200ms ease-out;
	-o-transition: left 200ms ease-out;
	transition: left 200ms ease-out;
}
/* Secondary Button */
.secondary-button
{
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	border-radius: 28px;
	background-color: transparent;
	overflow: hidden;
	border: solid 1px var(--color-red);
	cursor: pointer;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
	transition: all 150ms ease-out;
}
.secondary-button a
{
	display: block;
}
.secondary-button:hover a
{
	text-shadow: 0 0 1px rgba(255,255,255,0.3), 0 0 2px rgba(255,255,255,0.3), 0 0 2px rgba(255,255,255,0.3),	0 0 2px rgba(255,255,255,0.3);
}
.secondary-button.fadeInUp
{
	-webkit-animation-delay: 0ms;
	animation-delay: 0ms;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
}
.secondary-button .button-text
{
	color: var(--color-red);
}
.secondary-button:hover .button-text
{
	color: var(--white);
}
.secondary-button .button-arrow
{
	display: flex;
	position: absolute;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	top: 5px;
	right: 5px;
	width: 46px;
	height: 46px;
	background-color: var(--color-red);
	overflow: hidden;
	border-radius: 50%;
	text-align: center;
	gap: -3px;
	z-index: 2;
}
.button-arrow i:first-child
{
	opacity: 0.4;
}
.button-arrow i:last-child
{
	margin-left: -2px;
}
.secondary-button:hover
{
	background-color: var(--color-red);
	box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
}
.secondary-button:hover .button-arrow
{
	transform: scale(0.9);
	background-color: var(--white);
}
.secondary-button:hover .button-arrow i
{
	color: var(--color-red);
}
.button-arrow i
{
	display: block;
	position: relative;
	left: 0;
	line-height: 48px;
	font-family: 'Font Awesome 6 Pro';
	content: '\f061';
	font-weight: 600;
	font-size: 16px;
	color: var(--color-red);
	-webkit-transition: left 200ms ease-out;
	-moz-transition: left 200ms ease-out;
	-ms-transition: left 200ms ease-out;
	-o-transition: left 200ms ease-out;
	transition: left 200ms ease-out;
}
.secondary-button .button-arrow i
{
	color: var(--white);
}

.hero-button:hover a .button-arrow i::after
{
	opacity: 1 !important;
}
.row
{
	--bs-gutter-x: 20px !important;
}
.row>*
{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.section-subtext
{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
}
.section_dark .section-title, .section_dark h3
{
	color: var(--white);
}
.section_dark .section-subtext, .section_dark p
{
	color: rgba(255,255,255,0.8);
}
.section-title span
{
	display: inline-block;
	position: relative;
	font-size: 46px;
	color: var(--color-red);
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.dark_section
{
	background-color: var(--color-background-light);
}
body.no-scroll
{
	overflow: hidden;
}
.stagger_stats,
.stagger_team
{
	translate: none;
	rotate: none;
	scale: none;
	-webkit-transform: rotateY(12deg) rotateX(5deg);
	-moz-transform: rotateY(12deg) rotateX(5deg);
	-ms-transform: rotateY(12deg) rotateX(5deg);
	-o-transform: rotateY(12deg) rotateX(5deg);
	transform: rotateY(12deg) rotateX(5deg);
	opacity: 0;
}
*.reveal_1
{
	translate: none;
	rotate: none;
	scale: none;
	-webkit-transform: rotateY(12deg) rotateX(5deg);
	-moz-transform: rotateY(12deg) rotateX(5deg);
	-ms-transform: rotateY(12deg) rotateX(5deg);
	-o-transform: rotateY(12deg) rotateX(5deg);
	transform: rotateY(12deg) rotateX(5deg);
	opacity: 0;
}
*.reveal_2
{
	translate: none;
	rotate: none;
	scale: none;
	-webkit-transform: rotateY(12deg) rotateX(5deg);
	-moz-transform: rotateY(12deg) rotateX(5deg);
	-ms-transform: rotateY(12deg) rotateX(5deg);
	-o-transform: rotateY(12deg) rotateX(5deg);
	transform: rotateY(12deg) rotateX(5deg);
	opacity: 0;
}
*.reveal_3
{
	rotate: none;
	scale: none;
	opacity: 0;
	transform: translateY(20px);
}
.reveal_stagger > *, .reveal_stagger_test
{
	translate: none;
	rotate: none;
	scale: none;
	-webkit-transform: rotateY(12deg) rotateX(5deg);
	-moz-transform: rotateY(12deg) rotateX(5deg);
	-ms-transform: rotateY(12deg) rotateX(5deg);
	-o-transform: rotateY(12deg) rotateX(5deg);
	transform: rotateY(12deg) rotateX(5deg);
	opacity: 0;
}

/*********************************
3. Menu
*********************************/

.menu
{
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	width: 90%;
	height: 90%;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: all 200ms;
	background-color: var(--white);
	overflow-y: auto;
	overflow-x: hidden;
}
.menu.active
{
	width: 100vw;
	height: 100vh;
	opacity: 1;
	pointer-events: visible;
}
.menu-container
{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-left: 44px;
	padding-right: 44px;
}
.menu-container img
{
	position: fixed;
	top: 72px;
	right: 0;
	height: calc(100% - 72px);
	width: auto;
	opacity: 0.5;
}
.menu-content
{
	width: 100%;
	height: 100%;
	padding-top: 108px;
}
.menu-nav-container
{
	display: block;
	width: 100%;
}
.menu-nav-container li a
{
	display: inline-block;
	position: relative;
	font-family: var(--font1);
	font-size: 28px;
	font-weight: 400;
	line-height: 2.5;
	color: var(--color-text-dark);
}
.menu-nav-container li a:hover
{
	color: var(--color-red);
}
.menu-nav-container li:not(:last-of-type)
{
	margin-bottom: 0px;
}
.menu-btn
{
	width: 100%;
}
.menu-cta-button
{
	display: inline-flex !important;
	background-color: var(--color-text-dark);
	margin-top: 53px;
}
.menu-cta-button i
{
	color: var(--color-text-dark);
}
.menu-cta-button:hover i
{
	color: var(--color-red);
}
.menu-social
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 72px;
	background-color: var(--color-background-light);
	padding-left: 48px;
	padding-right: 48px;
	gap: 24px;
	margin-top: 38px;
}
.menu-social li a i
{
	font-size: 24px;
	color: var(--color-gray);
}
.menu-social li a:hover i
{
	color: var(--color-red);
}
.menu-btn
{
	padding-bottom: 112px;
}

/*********************************
4. Header
*********************************/

.header
{
	position: absolute;
	top: 24px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 1000;
}
.header.hidden
{
	position: fixed;
	top: -100px;
	padding-left: 0;
	padding-right: 0;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.header.scrolled
{
	top: 0px;
	transition: all 300ms ease;
}
.header_inner
{
	padding: 32px;
	background-color: var(--color-background-light);
	border-radius: 16px;
}
.header.scrolled .header_inner
{
	border-radius: 0px;
	padding: 20px;
}
.header-logo a
{
	position: relative;
	width: 100%;
	height: 100%;
}
.header-logo span
{
	font-family: var(--font1);
	text-transform: uppercase;
	color: var(--color-text-dark);
	font-size: 21px;
	font-weight: 600;
	letter-spacing: 0.05em;
}
.header-logo img
{
	width: 48px;
	height: 48px;
	margin-right: 8px;
}
.header-logo span span
{
	color: var(--color-red);
}
.main-nav
{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.main-nav ul
{
	gap: 40px;
}
.main-nav ul li
{
	position: relative;
}
.main-nav ul li a
{
	display: inline-block;
	position: relative;
	font-family: var(--font2);
	font-size: 18px;
	line-height: 36px;
	color: var(--color-text-dark);
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main-nav ul li a:hover
{
	color: var(--color-red);
}
.main-nav ul li a::after
{
	position: absolute;
	bottom: 4px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0%;
	height: 2px;
	content: '';
	opacity: 0.7;
	background-color: var(--color-red);
	pointer-events: none;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.main-nav ul li a:hover::after
{
	width: 100%;
}
.header-button
{
	display: inline-block;
	height: 46px;
	background-color: var(--color-text-dark);
	padding-left: 32px;
	padding-right: 32px;
	line-height: 46px;
	border-radius: 23px;
	color: var(--white);
	font-weight: 500;
	box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
}
.header-button:hover
{
	background-color: var(--color-red);
	box-shadow: 0px 6px 10px rgba(255,44,85,0.2);
}
.hamburger:hover .hamburger-inner, .hamburger:hover .hamburger-inner::before, .hamburger:hover .hamburger-inner::after
{
	background-color: var(--color-red);
}
#hamburger
{
	display: none;
	transform: scale(0.7);
}

/*********************************
5. Hero
*********************************/

.hero
{
    display: block;
    position: relative;
	margin-top: 24px;
	width: 100%;
	padding-top: 132px;
	padding-left: 20px;
	padding-right: 20px;
}
.hero-inner
{
	width: 100%;
    height: 308px;
	border-radius: 16px;
	overflow: hidden;
}
.hero-background
{
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}
.hero-background img
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home_content_container
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: var(--color-text-dark);
}
.hero_content
{
	top: 52%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hero_content_container
{
	display: flex;
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.hero-title
{
	color: var(--white);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0px 3px 7px rgba(0,0,0,0.35);
}
.hero-title.wow.fadeInUp
{
	-webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
	animation-delay: 0.4s;
}
.breadcrumbs
{
    margin-top: 12px;
}
.breadcrumbs ol
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none !important;
    padding-left: 0;
}
.breadcrumbs ol li:not(:last-of-type)::after
{
    display: inline-block;
    position: relative;
    font-family: var(--font2);
    font-size: 18px;
    color: var(--white);
    content: '/';
    margin-left: 4px;
    margin-right: 3px;
}
.breadcrumbs ol li, .breadcrumbs ol li a
{
    font-family: var(--font2);
    font-size: 18px;
    color: var(--white);
}
.breadcrumbs ol li
{
    color: var(--color-red);
}
.breadcrumbs ol li a:hover
{
    color: var(--color-red);
}

/*********************************
6. About
*********************************/

.about
{
	display: block;
	position: relative;
	padding-top: 112px;
	padding-bottom: 112px;
}
.about_container
{
	height: 100%;
	padding-right: 120px;
}
.about_content
{
	padding-right: 150px;
	padding-top: 119px;
	padding-bottom: 132px;
}
.about_image_col
{
	position: absolute;
	top: 0;
	right: 0;
}
.about_image_col img
{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about_button
{
	margin-top: 48px;
}
.play-btn
{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 92px;
	height: 92px;
	background-color: transparent;
	backdrop-filter: blur(12px);
	border-radius: 50%;
	border: solid 1px rgba(255,255,255,0.15);
	cursor: pointer;
}
.play-btn:hover
{
	background-color: rgba(255,255,255,0.1);
}
.play-btn i
{
	color: white;
	font-size: 16px;
	font-weight: 900;
}
.play-btn a
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.about_pics_container
{
	width: 100%;
	height: 596px;
	gap: 20px;
}
.about_pics_container::before
{
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: -40px;
	width: calc(100% + 80px);
	height: 60px;
	background-color: var(--color-gray);
	content: '';
	opacity: 0;
	z-index: 0;
	animation: pcs;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-direction: normal;
	animation-fill-mode: forwards;
}
@keyframes pcs
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 0.5;
	}
}
.about_pic
{
	width: calc((100% - 40px) / 3);
	height: 100%;
}
.about_pic > div
{
	width: 100%;
	height: 100%;
	border-radius: 16px;
	overflow: hidden;
}
.about_pic img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about_pic:first-child,
.about_pic:last-child
{
	padding-top: 45px;
	padding-bottom: 45px;
}
.about_button_2
{
	display: none;
	margin-top: 60px;
}
.about_pic.reveal_right
{
	left: 30px;
	translate: none;
	rotate: none;
	scale: none;
	opacity: 0;
}
.reveal_left
{
	position: relative;
	right: 30px;
	translate: none;
	rotate: none;
	scale: none;
	opacity: 0;
}

/*********************************
7. Stats
*********************************/

.stats
{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.stats_inner
{
	border-radius: 16px;
	background-color: var(--color-text-dark);
	padding-top: 82px;
	padding-bottom: 55px;
}
.stat
{
	padding-top: 28px;
	padding-bottom: 29px;
	padding-left: 24px;
	padding-right: 24px;
	border-radius: 16px;
	background-color: transparent;
	border: solid 1px rgba(255,255,255,0);
	margin-bottom: 20px;
	box-sizing: border-box;
	-webkit-transition: border 200ms ease;
	-moz-transition: border 200ms ease;
	-ms-transition: border 200ms ease;
	-o-transition: border 200ms ease;
	transition: border 200ms ease;
}
.stats_row > div:not(:last-child) .stat::after
{
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: -11px;
	width: 1px;
	height: 106px;
	content: '';
	background-color: rgba(255,255,255,0.1);
}
.stat:hover
{
	background-color: rgba(255, 255, 255, 0.01);
	border: solid 1px rgba(255,255,255,0.1);
}
.stat_icon_container img
{
	width: 48px;
	height: 48px;
}
.stat h3
{
	font-size: 28px;
	font-weight: 500;
	margin-top: 48px;
	color: var(--color-red);
}
.stat p
{
	font-family: var(--font1);
	font-size: 21px;
	font-weight: 400;
	color: var(--white);
	margin-top: 14px;
}

/*********************************
8. Team
*********************************/

.team
{
	padding-top: 104px;
	padding-bottom: 112px;
}
.team_row
{
	margin-top: 53px;
}
.team_item
{
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: 16px;
	padding-bottom: 8px;
	background-color: var(--color-gray);
}
.team_item_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 16px;
}
.team_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.team_item:hover .team_overlay
{
	background-color: rgba(0,0,0,0.5);
	/* backdrop-filter: blur(6px); */
}
.team_photo
{
	width: 100%;
	height: auto;
	aspect-ratio: 0.7;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.team_photo img
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.team_content
{
	position: absolute;
	left: 0;
	top: calc(100% - 76px);
	width: 100%;
	padding-left: 32px;
	padding-right: 32px;
	z-index: 2;
}
.team_content_extra
{
	opacity: 0;
}
.team_item:hover .team_content_extra
{
	opacity: 1;
}
.team_item:hover .team_content
{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.team_title
{
	display: block;
	position: relative;
	width: 100%;
	height: 56px;
	border-radius: 28px;
	border: solid 1px rgba(255,255,255,0.2);
	backdrop-filter: blur(12px);
	margin-bottom: 20px;
}
.team_title::after
{
	display: block;
	position: relative;
	content: '';
	width: 60px;
	height: 2px;
	background-color: rgba(255,255,255,0.2);
	margin-top: 32px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.team_title a
{
	display: block;
	position: relative;
	line-height: 50px;
	color: var(--white);
}
.team_desc
{
	margin-top: 45px;
	color: var(--white);
}
.team_social_container
{
	margin-top: 32px;
	gap: 8px;
}
.team_social_container li a
{
	display: block;
	position: relative;
	width: 56px;
	height: 56px;
	border: solid 1px rgba(255,255,255,0.2);
	backdrop-filter: blur(12px);
	border-radius: 28px;
	overflow: hidden;
}
.team_social_container li a i
{
	font-size: 24px;
	color: var(--white);
	line-height: 56px;
}
.team_social_container li a:hover i
{
	color: var(--color-red);
}

/*********************************
9. Why Choose Us
*********************************/

.why_us
{
	padding-top: 112px;
	padding-bottom: 112px;
}
.why_us_container
{
	height: 100%;
	padding-right: 130px;
}
.why_us_slider_container
{
	width: 100%;
	height: 782px;
}
.why_us_stats
{
	margin-top: 31px;
	max-width: 480px;
}
.why_us_stats li
{
	width: calc(100% / 3);
}
.why_us_stats li strong
{
	font-family: var(--font1);
	font-size: 24px;
	font-weight: 500;
	color: var(--color-text-dark);
	letter-spacing: 0.02em;
}
.why_us_stats li p
{
	margin-top: 5px;
	white-space: nowrap;
}
.why_us_button
{
	margin-top: 49px;
}
.why_us_button_2
{
	display: none;
}
.why_us_slider
{
	height: 100%;
}
.why_us_slider_container
{
	border-radius: 16px;
	overflow: hidden;
}
.why_us_slide
{
	width: 100%;
	height: 782px;
	border-radius: 16px;
	overflow: hidden;
}
.why_us_slide > div
{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 782px;
	aspect-ratio: 0.87;
	background-color: white;
}
.why_us_slide > div img
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.why_us_slide .background_overlay
{
	background-color: var(--white);
}
.why_us_slider .owl-dots
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 28px;
	background-color: var(--white);
	border-radius: 14px;
	padding-left: 13px;
	padding-right: 13px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
	z-index: 1;
}
.why_us_slider .owl-dots .owl-dot span
{
	margin-left: 4px;
	margin-right: 4px;
	background-color: var(--color-gray);
}
.why_us_slider .owl-dots .owl-dot.active span
{
	background-color: var(--color-red);
}

/*********************************
10. CTA
*********************************/

.cta
{
	display: block;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
.cta_inner
{
	background-color: #eff0f1;
	padding-top: 169px;
	padding-bottom: 180px;
	border-radius: 16px;
	overflow: hidden;
}
.cta_inner img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cta_content
{
	padding-left: 90px;
}
.cta_title
{
	text-transform: uppercase;
	font-size: 48px;
}
.cta_highlight
{
	font-family: var(--font1);
	font-size: 96px;
	color: var(--color-red);
	font-weight: 700;
	margin-top: 2px;
}
.cta_desc
{
	margin-top: 5px;
}
.cta_button
{
	margin-top: 41px;
}

/*********************************
11. Newsletter
*********************************/

.newsletter
{
	display: block;
	position: relative;
	padding-top: 56px;
	padding-bottom: 65px;
	width: 100%;
	background-color: var(--color-text-dark);
}
.newsletter_form
{
	display: inline-block;
	position: relative;
	margin-top: 41px;
	width: 400px;
	max-width: 400px;
}
.newsletter_input
{
	width: 100%;
	background-color: var(--white);
	height: 56px;
	border-radius: 28px;
	outline: none;
	border: solid 1px #e5eaeb;
	font-size: 18px;
	font-weight: 400;
	color: var(--color-text-dark);
	padding-left: 32px;
	padding-left: 32px;
	font-family: var(--font2);
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 18px !important;
	font-weight: 400 !important;
	color: var(--color-text);
}
.newsletter_input:-moz-placeholder
{
	font-size: 18px !important;
	font-weight: 400 !important;
	color: var(--color-text);
}
.newsletter_input::-moz-placeholder
{
	font-size: 18px !important;
	font-weight: 400 !important;
	color: var(--color-text);
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 18px !important;
	font-weight: 400 !important;
	color: var(--color-text);
}
.newsletter_input::input-placeholder
{
	font-size: 18px !important;
	font-weight: 400 !important;
	color: var(--color-text);
}
.newsletter_input:hover, .newsletter_input:focus
{
	outline: solid 2px var(--color-gray);
}
.visually-hidden
{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	white-space: nowrap;
}
.newsletter_button
{
	display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 5px;
    right: 5px;
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
	background-color: var(--color-red);
	border: none;
	outline: none;
}
.newsletter_button i
{
	display: block;
    position: relative;
    left: 0;
    line-height: 48px;
    font-weight: 600;
    font-size: 16px;
	color: var(--white);
}
.newsletter_button i:first-of-type
{
	opacity: 0.5;
}
.newsletter_button i:last-of-type
{
	margin-left: -2px;
}
.form-status
{
	margin-top: 8px;
	font-size: 18px;
}
.newsletter_button:hover
{
	background-color: #e5274d;
	box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
}
.scroll-top-container
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.scroll-top
{
	position: absolute;
	display: inline-flex;
	bottom: -22px;
	right: 12px;
	width: 44px;
	height: 44px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	background-color: var(--color-text);
}
.scroll-top i
{
	font-size: 16px;
	color: var(--color-text-dark);
}
.scroll-top:hover
{
	background-color: var(--white);
}

/*********************************
12. Footer
*********************************/

.footer
{
	display: block;
	background-color: var(--color-text-dark);
	padding-top: 60px;
	border-top: solid 1px rgba(255,255,255,0.1);
	box-sizing: border-box;
}
.footer_row
{
	padding-bottom: 65px;
}
.footer_content
{
	max-width: 420px;
}
.logo span
{
	font-family: var(--font1);
	text-transform: uppercase;
	color: var(--white);
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.05em;
}
.logo img
{
	width: 52px;
	height: 52px;
	margin-right: 8px;
}
.logo span span
{
	color: #fc708b;
}
.footer_desc
{
	margin-top: 36px;
	color: var(--white);
	opacity: 0.44;
	font-weight: 400;
}
.footer_social
{
	gap: 24px;
	margin-top: 38px;
}
.footer_social li a i
{
	font-size: 24px;
	color: var(--white);
}
.footer_social li a:hover i
{
	color: var(--color-red);
}
.footer_extra
{
	box-sizing: border-box;
	border-top: solid 1px rgba(255,255,255,0.1);
}
.privacy_container
{
	height: 100px;
}
.footer_nav h3, .footer_contact h3
{
	font-family: var(--font1);
	font-size: 21px;
	letter-spacing: 0.02em;
	font-weight: 500;
	color: var(--white);
}
.footer_nav ul, .footer_contact address
{
	margin-top: 30px;
}
address
{
	margin-bottom: 0;
}
address > *
{
	display: block;
}
address span
{
	display: block;
	position: relative;
}
.footer_nav ul li:not(:last-of-type)
{
	margin-bottom: 4px;
}
address a
{
	margin-bottom: 4px;
	line-height: 2;
}
address span
{
	margin-bottom: 7px;
	line-height: 1.44;
}
.footer_row
{
	padding-bottom: 53px;
}
.footer_nav ul li, address
{
	font-family: var(--font2);
	font-size: 18px;
	line-height: 1.44;
	color: rgba(255,255,255,0.44);
}
.footer_nav ul li a, address a
{
	display: inline-block;
	position: relative;
	font-family: var(--font2);
	font-size: 18px;
	line-height: 2;
	color: rgba(255,255,255,0.44);
}
.footer_nav ul li a:hover, address a:hover
{
	color: var(--white);
}
.copyright
{
	font-family: var(--font2);
	font-size: 16px;
	color: var(--white);
}
.copyright:not(span)
{
	opacity: 0.44;
}
.copyright span
{
	color: var(--color-red);
	opacity: 1 !important;
}
.privacy_container li span a
{
	font-family: var(--font2);
	font-size: 16px;
	color: var(--white);
	opacity: 0.44;
}
.privacy_container li span a:hover
{
	color: var(--white);
	opacity: 1;
}
.privacy span
{
	display: inline-block;
	position: relative;
}
.privacy span:not(:last-of-type)::after
{
	display: inline-block;
	position: relative;
	content: '|';
	margin-left: 6px;
	margin-right: 1px;
}