@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

@media (min-width: 1600px)
{
    .container
    {
        max-width: 1400px;
    }
}

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
1. 1520px
************/

@media only screen and (max-width: 1520px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
    .home_content_container
    {
        height: 600px;
    }
}

/************
3. 1399px
************/

@media only screen and (max-width: 1399px)
{
    .schedule-table
    {
        width: 1116px;
    }
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
    h1
    {
        font-size: 56px;
    }
	.main-nav ul
    {
        gap: 32px;
    }
    .classes_item
    {
        height: 710px;
        margin-bottom: 20px;
    }
    .classes-button-container
    {
        margin-top: 32px;
    }
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
    .menu-content
    {
        padding-top: 155px;
    }
    .header.scrolled .header_inner
    {
        padding-right: 4px;
    }
	.main-nav
    {
        display: none;
    }
    .hero-title
    {
        max-width: 650px;
    }
    .hero-subtext
    {
        font-size: 18px;
        margin-top: 18px;
    }
    .hero_content
    {
        top: 51%;
    }
    .header-extra
    {
        display: none !important;
    }
    .header_inner
    {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 14px;
    }
    #hamburger
    {
        display: block;
    }
    .hero-slider-nav
    {
        display: none !important;
    }
    .scroll-down
    {
        display: none;
    }
    .hero
    {
        padding-top: 121px;
    }
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.classes_item
    {
        height: 524px;
    }
    .footer
    {
        padding-top: 54px;
    }
    .footer_content_col
    {
        margin-bottom: 56px;
    }
    .about_button
    {
        display: none;
    }
    .about_button_2
    {
        display: inline-block;
    }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
    
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
    .hero-title
    {
        max-width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 52px;
    }
    .hero-subtext
    {
        margin-top: 14px;
    }
    .classes
    {
        padding-top: 94px;
        padding-bottom: 102px;
    }
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
    h2
    {
        font-size: 32px;
    }
    h3
    {
        font-size: 20px;
    }
    p
    {
        font-size: 16px;
    }
    .section-subtext
    {
        font-size: 16px;
    }
	.hero-title
    {
        font-size: 44px;
    }
    .classes
    {
        padding-top: 77px;
        padding-bottom: 84px;
    }
    .classes_item
    {
        height: 800px;
    }
    .classes_row
    {
        margin-top: 41px;
    }
    .classes-button-container
    {
        margin-top: 24px;
    }
    .class-desc
    {
        opacity: 1;
        transform: scale(1);
    }
    .schedule
    {
        padding-top: 77px;
        padding-bottom: 84px;
    }
    .newsletter .section-title span
    {
        font-size: 32px;
    }
    .privacy_container
    {
        flex-direction: column !important;
        align-items: start !important;
        height: auto;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .copyright
    {
        margin-bottom: 16px;
        font-size: 14px;
    }
    .privacy_container li span a
    {
        font-size: 14px;
    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
    .menu-content
    {
        padding-top: 108px;
    }
    .menu-btn
    {
        width: 100%;
    }
    .menu-cta-button
    {
        width: 100%;
    }
    h2
    {
        font-size: 30px;
    }
    .button-text
    {
        padding-left: 27px;
        padding-right: 78px;
        font-size: 14px;
    }
    .header
    {
        top: 0;
        left: 0;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
        padding-left: 0;
        padding-right: 0;
    }
    .header_inner
    {
        height: 72px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 12px;
        padding-right: 0px;
        border-radius: 0px;
    }
    .header.scrolled .header_inner
    {
        padding-right: 0;
    }
    .header-logo span
    {
        font-size: 20px;
        padding-top: 2px;
        letter-spacing: 0.06em;
    }
    .header-logo img
    {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
    .hero
    {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 60px;
    }
    .hero-inner
    {
        padding-left: 12px;
        padding-right: 12px;
        height: auto;
        aspect-ratio: 2.3;
    }
    .hero_content
    {
        top: 61%;
    }
    .hero-title
    {
        font-size: 24px;
    }
    .breadcrumbs
    {
        margin-top: 4px;
    }
    .breadcrumbs ol li, .breadcrumbs ol li a
    {
        font-size: 16px;
    }
    #hamburger
    {
        transform: scale(0.6);
    }
    .button-arrow i
    {
        font-size: 14px;
    }
    .classes_item
    {
        border-radius: 12px;
        width: 100%;
        height: auto;
        aspect-ratio: 0.6451;
    }
    .play-btn
    {
        width: 72px;
        height: 72px;
    }
    .features
    {
        padding-bottom: 92px;
        padding-top: 84px;
    }
    .features_container
    {
        flex-direction: column !important;
    }
	.feature
    {
        width: 100%;
        border-radius: 12px;
    }
    .features_image
    {
        margin-top: 47px;
        border-radius: 12px;
    }
    .stats
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .stats_inner
    {
        border-radius: 0px;
    }
    .stats_row
    {
        margin-top: 41px;
    }
    .section-title span
    {
        font-size: 38px;
    }
    .stat
    {
        margin-bottom: 16px;
        border-radius: 12px;
    }
    .stats_row > div:nth-child(odd) .stat::before
    {
        display: none;
    }
    .stats_row > div:not(:last-child) .stat::before
    {
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -11px;
        width: 106px;
        height: 1px;
        content: '';
        background-color: rgba(255,255,255,0.1);
    }
    .team_item
    {
        border-radius: 12px;
    }
    .why_us_stats
    {
        flex-direction: column !important;
        gap: 16px;
    }
    .cta_title
    {
        font-size: 30px;
        max-width: 300px;
    }
    .cta_highlight
    {
        font-size: 60px;
        margin-top: 4px;
    }
    .cta_desc
    {
        margin-top: 2px;
    }
    .cta_button
    {
        margin-top: 36px;
    }
    .newsletter
    {
        padding-top: 52px;
        padding-bottom: 57px;
    }
    .newsletter_form
    {
        width: 100%;
    }
    .newsletter_input
    {
        width: 100%;
    }
    .form-status
    {
        margin-top: 6px;
        font-size: 16px;
    }
    .footer_row > div:not(:last-child)
    {
        margin-bottom: 41px;
    }
    .footer_row > div:first-child
    {
        margin-bottom: 56px;
    }
    .footer_nav ul li a, address a
    {
        font-size: 16px;
        line-height: 2.5;
    }
    .footer_nav ul li, address
    {
        font-size: 16px;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
    
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
    
}